{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}
  <div class="ttwTitle">
    <svg xmlns="http://www.w3.org/2000/svg">
        <filter id="motion-blur-filter" filterUnits="userSpaceOnUse">
            <feGaussianBlur stdDeviation="60 0"></feGaussianBlur>
        </filter>
    </svg>
  </div>

  <!---- This will throw an error, however, it is needed to make text look cool.-->
  <span id="signUpHeader" filter-content=" S">Sign Up</span>
  <div class="introPage">
    {% if error %}
      <p class="error">Username already used. Please try again.</p>
    {% endif %}

    <form method="POST" action="signup">
<br/><br/>
      <input class="inputBars" type="text" name="first" placeholder="First name" required>
<br/><br/>
      <input class="inputBars" type="text" name="last" placeholder="Last name" required>
<br/><br/>
      <input class="inputBars" type="text" name="username" placeholder="Username" required>
<br/><br/>
      <input class="inputBars" type="password" name="password" placeholder="Password" minlength="6" required>
      <br/><br/>
      <input class="inputBars" type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
